{% extends 'base.html' %}
{% block main_text %}
    <script type="text/javascript">
		setInterval(function() {
				location.reload();
			}, 20000);
	function change_mode(attr) {
		$.post('/change/', {
			type: attr,
		}, function(data) {
			document.getElementById(attr+'_id').innerHTML=data['result'];
		}, "json");
	}
    </script>
	<div></div></br></br></br>
    <div><h1 style="text-align:center">中央空调控制器</h1></div></br></br></br>
    <div class="container" id="global_container">
		<div class="container-fluid">
			<div class="list-inline">
				<li><p id="mode_id">模式：{{mode}}</p></li>
				<li><p id="report_id">类型：{{report}}</p></li>
			</div>
			<div class="list-inline">
				<li><button type="button" class="edit-btn cg" onclick="change_mode('mode')">工作模式</button></li>
				<li><button type="button" class="edit-btn cg" onclick="change_mode('report')">更改报表类型</button></li>
			</div>
		</div></br></br></br> 
        <div class="row">
			<table width="1000" border="2" cellspacing="1" class="table">
				<tr>
					<th>房间号</th>
					<th>ip地址</th>
					<th>当前室温</th>
					<th>设定室温</th>
					<th>是否服务</th>
					<th>工作模式</th>
					<th>风速</th>
					<th>耗电量</th>
					<th>总消费</th>
				</tr>
				{% for room in list %}
					<tr>
						<td>{{ room.numbers }}</td>
						<td>{{ room.ip_address }}</td>
						<td>{{ room.room_temperature }}</td>
						<td>{{ room.setting_temperature }}</td>
						<td>{{ room.service }}</td>
						<td>{{ room.speed }}</td>
						<td>{{ room.power }}</td>
						<td>{{ room.total_cost }}</td>
					</tr>
				{% endfor %}
			</table>
        </div>
        <div class="pagination">
            <ul>
                <li>
                    <input type="button" {% ifequal page_num 1 %}disabled="disabled"{% endifequal %} onclick="window.location.href='/?page_num={{ page_num|add:"-1" }}'" value="上一页">
                </li>
                <li>
                    <input type="button" {% ifequal page_num page_count %}disabled="disabled"{% endifequal %} onclick="window.location.href='/?page_num={{ page_num|add:"1" }}'" value="下一页">
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
