{% extends 'base.html' %}
{% block main_text %}
    <script type="text/javascript">
		setInterval(function() {
			$.get("/service/", function(data) {
				for(var room in data.list) {
					var ele = document.getElementById(room.numbers);
					if (ele){
						ele.innerHTML = room.room_temperature; 
					}
				}
			}, "json")
		}, 5000);
    </script>
    <div><h1 style="text-align:center">中央空调控制器</h1></div></br></br></br>
    <div class="container" id="global_container">
        <row>
            {% for room in rooms|slice:":3" %}
                <div class="col-xs-4">
				    <div class="container">
					    <div><h3>房间号{{ room.numbers }}</h3></div>
					        <div class="list-inline">
						        <li><p>风速: {{ room.speed }}</p></li>
						        <li><p>模式: {{ room.mode }}</p></li>
					        </div>
					    <div>
						    <p><font face="verdana" size=30>{{ room.room_temperature }}°C</font></p>
					    </div>
				    </div>
			    </div>
            {% endfor %}
        </row>
        {% if rooms|length > 3 %}
        <row>
            {% for room in rooms|slice:"3:" %}
                <div class="col-xs-4">
                    <div class="container">
						<div><h3 id="{{ room.numbers }}">房间号{{ room.numbers }}</h3></div>
                            <div class="list-inline">
                                <li><p>风速: {{ room.speed }}</p></li>
                                <li><p>模式: {{ room.mode }}</p></li>
                            </div>
                        <div>
                            <p><font face="verdana" size=30>{{ room.room_temperature }}°C</font></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </row>
        {% endif %}
        <div class="pagination">
            <ul>
                <li>
                    <input type="button" {% ifequal page_num 1 %}disabled="disabled"{% endifequal %} onclick="window.location.href='/?page_num={{ page_num|add:"-1" }}'" value="上一页">
                </li>
                <li>
                    <input type="button" {% ifequal page_num page_count %}disabled="disabled"{% endifequal %} onclick="window.location.href='/?page_num={{ page_num|add:"1" }}'" value="下一页">
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
