{% extends 'base.html' %}
{% block main_text %}
    <script type="text/javascript">
        function set_address(){
            $.post("/settings/", {
                host: $("#host").val(),
            }, function(data) {
                var answer = confirm(data['reason']);
                if (answer) {
                    location.reload(true);
                }
            }, "json");
            //location.reload(true)
        }
        function update(){
            var table = document.getElementById("room_table");
            table.style.display = 'none';
            var my_input = document.getElementById("my_input");
            my_input.style.display = 'block';
        }

    </script>
	<div><p></p></div></br></br>
    <div class="row">
        <div id="room_table" class="container" style="display: block">
            <div><h3>主机地址: {{ room.host }}</h3></div>
            <div><button class="btn btn-primary" onclick="update()">修改主机地址</button></div>
        </div>
        <div class="container" id="my_input" style="display: none">
            <input id="host" name="host" maxlength="30" class="kari-nav-input" type="text" placeholder="127.0.0.1:8000" />
            <button type="submit" id="sub" class="btn btn-primary" onclick="set_address()">确认</button>
        </div>
    </div></br>
    <div class="container">
		<div class="row">
			<div class="col-xs-8">
				<div class="container">
					<div><h3>空调信息</h3></div>
					<div class="list-inline">
						<li><p>风速: {{ room.speed }}</p></li>
						<li><p>模式:{{ room.mode }}</p></li>
					</div>
					<div>
						<p><font face="verdana" size=30>17.3°C</font></p>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="container-fluid">
					<div><h3 style="text-align:center">操作</h3></div>
					<div>
						<button class="btn btn-default pull-left" onclick="post_to('/operator/', {'temperature':0.1})">升温</button>
						<button class="btn btn-default pull-right" onclick="post_to('/operator/', {'temperature':-0.1})">降温</button>
					</div></br>
					<div><p></p></div></br>
					<div>
						<button class="btn btn-default pull-left" onclick="post_to('/operator/', {'speed':1})">风速</button>
						<button class="btn btn-default pull-right" onclick="post_to('/operator/', {'status':1})">模式</button>
					</div></br>
				</div>
			</div>
		</div>
		<div><p></p></div></br></br></br>
        <div id="data_line" style="width: 600px;height:400px; display: none"></div>
        <script type="text/javascript">
            function get_now() {
                now = new Date();
                return now.getHours()+':'+now.getMinutes()+':'+now.getSeconds();
            }
            function get_temperature() {
                return Math.random() * 100;
            }
            var x_data = [];
            var y_data = [];
            var myChart = echarts.init(document.getElementById("data_line"));
            var now = new Date();
            for (var i = 20; i >= 0; i --){
                var start = new Date(now - 10000 * i);
                x_data.push(start.getHours() + ':' + start.getMinutes() + ':' + start.getSeconds());
                y_data.push(get_temperature());
            }
            var option = {
                title: {
                    text: '动态数据 + 时间坐标轴'
                },
                tooltip: {
                    trigger: 'axis',
                    formatter: function (params) {
                        params = params[0];
                        return params.name + ':' + params.value;
                    },
                    axisPointer: {
                        animation: false
                    }
                },
                xAxis: {
                    type: 'category',
                    splitLine: {
                        show: false
                    },
                    data: x_data
                },
                yAxis: {
                    type: 'value',
                    boundaryGap: [0, '100%'],
                    splitLine: {
                        show: false
                    }
                },
                series: [{
                    name: '模拟数据',
                    type: 'line',
                    showSymbol: false,
                    hoverAnimation: false,
                    data : y_data,
                }]
            };

            myChart.setOption(option);
            setInterval(function () {
                option.xAxis.data.shift();
                option.series[0].data.shift();
                option.xAxis.data.push(get_now());
                option.series[0].data.push(get_temperature());
                myChart.setOption(option);
            }, 5000);
        </script>
    </div>

{% endblock %}
