{% extends 'base.html' %}
{% block main_text %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <div class="container-fluid">
                    <label><input type="checkbox" id='id_product_permission' name="product_permission" value="9" checked onclick="$.post('http://10.6.131.78:9326/pgc/media/change_permission/', {media_id:12323, field:'has_product_permission'})"/>xxx</label><br/><br/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

